[Unit]
Description=Habi-Bot (WhatsApp Bot)

[Service]
User=root
Type=simple
Restart=on-failure
WorkingDirectory=/root/wabot
ExecStart=/root/wabot/main

[Install]
WantedBy=multi-user.target